:root{
    --bg: #3f8bc8;
    --text: #f0f1f2;
    --fondo: rgb(240, 240, 21);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg);
    font-family: 'Simpsonfont', sans-serif;
    font-family: 'Akbar', sans-serif;
                                                
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 59px;
}
header > .logo > img{
    width: 200px;
}
header > nav > a{
    margin: 0 15px;
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}
.search{
    background-color: var(--fondo);
    border-radius: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.search > input{
    background-color: transparent;
    outline-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
}
#lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 100px;
}
#lista li{
    list-style: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px black;
    transition: all 0.3s ease-in-out;
}
#lista > li:hover{
    box-shadow: 5px 4px 30px var(--fondo);
    transform: scale(1.05);
    cursor: pointer;
}
#lista > li > h2 {
    width: 100%;
    font-size: 1rem;
    color: black;
}
#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-image: url(/o0p.gif);
    background-size: 100% 100%;
    opacity: 0.5;
    top:0;
    left: 0;

}


